@import "tailwindcss";
body {
  margin: 0;  
  place-items: center;
  background-color: #1E1E1E;
}
#root{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 100vw;
  max-height: 100vh;
  /* max-height: 900px; */
  color: #D4D4D4;  
  padding: 0.3rem 0.5rem;
  /* box-sizing: border-box; */
}

