@import "tailwindcss";
body {
  margin: 0;  
  place-items: center;
  background-color: #1E1E1E;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: auto;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 900px;
  color: #D4D4D4;  
}

